---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header />
		<main>
			<h1>ホワたま / </h1>
			<p>このページでは ホワたま が個人事業主として提供しているサービスをご案内しています。</p>
			<h2>サービス</h2>
			<ul>
				<li>kintone導入支援・運用支援</li>
				<li>kintoneカスタマイズ・プラグイン開発</li>
				<li>システムエンジニアリングサービス</li>
			</ul>
			<h2>プロダクト</h2>
		</main>
		<Footer />
	</body>
</html>
